#header {
    font-size: 50pt;
    font-family: 'Zilla Slab';
    font-weight: 700;
    margin-top: 40px;
    width: 100%;
    text-align: center;
}

.header-font {
    font-family: 'Zilla Slab';
    font-weight: 700;
}

.modal-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    top: 0;
    left: 0;
}

.modal-controls {
    max-width: 90%;
}

.modal-controls > .card-contents:not(.ignore-modal) > * {
    margin: 10px auto;
}

.modal-controls > .mdc-text-field-helper-line {
    margin: 0 auto;
}

.content-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(7px) brightness(0.8);
    z-index: -1;
}

#message-root {
    width: min(80%, 600px);
    margin: 24px auto 100px auto;
    display: flex;
    flex-direction: column;
}

#new-message-box {
    margin-bottom: 24px;
}

#messages > :first-child {
    margin-top: 0;
}

.chat-message {
    margin: 24px 0;
}

.card-contents {
    padding: 16px 16px 16px 16px;
    display: flex;
    flex-direction: column;
}

.reply.card-contents {
    padding-bottom: 6px;
}
.reply.card-contents:last-child {
    padding-bottom: 16px;
}

.card-contents:not(:first-child) {
    border-top: 1px solid #e0e0e0;;
}

.card-footer {
    border-top: 1px solid #e0e0e0;
    padding: 6px 16px;
    display: flex;
    flex-direction: row;
}

/* A lot of work to fix a very minor styling annoyance */
body:not(.logged-in) .card-contents > p {
    margin-bottom: 0;
}
body:not(.logged-in) .card-contents > p + * {
    margin-top: 1em;
}
.card-contents > p:last-child {
    margin-bottom: 0;
}

.replies {
    display: flex;
    flex-direction: column;
}

.replies > :not(:last-child) {
    margin-bottom: 8px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.spacer {
    display: block;
    height: 8px;
}

.material-icons {
    font-size: 1.5em;
    vertical-align: text-bottom;
}

body {
    background-color: #dddddd;
}

a {
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

textarea {
    resize: vertical;
}

.horizontal-spread {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.horizontal-spread > * {
    margin-left: 4px;
    margin-right: 4px;
}
.horizontal-spread > *:first-child {
    margin-left: 0;
}
.horizontal-spread > *:last-child {
    margin-right: 0;
}

.error-notice {
    color: red;
}

[hidden] {
    display: none;
}
